.pacman_animation_right_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px 0px;
}

.pacman_animation_right_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px 0px;
}

.pacman_animation_left_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -16px;
}

.pacman_animation_left_2 {
  width: 13px;
  height: 15px;
  background: url("WholeSheet.webp") -473px -15px;
}

.pacman_animation_up_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -34px;
}

.pacman_animation_up_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px -32px;
}

.pacman_animation_down_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -47px;
}

.pacman_animation_down_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px -47px;
}

#game {
  width: 226px;
  height: 248px;
  z-index: -1;
  object-fit: cover;
  object-position: 0%;
}

#stylesheet {
  width: 226px;
  height: 248px;
  z-index: -1;
  object-fit: cover;
  object-position: 100%;
}

.column {
  float: left;
  width: 17.5%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*.pacman{

}
*/