.pacman_animation_right_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px 0px;
}

.pacman_animation_right_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px 0px;
}

.pacman_animation_left_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -16px;
}

.pacman_animation_left_2 {
  width: 13px;
  height: 15px;
  background: url("WholeSheet.webp") -473px -15px;
}

.pacman_animation_up_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -34px;
}

.pacman_animation_up_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px -32px;
}

.pacman_animation_down_1 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -47px;
}

.pacman_animation_down_2 {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -473px -47px;
}

.red_right {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -65px;
}

.pink_right {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -81px;
}

.blue_right {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -97px;
}

.orange_right {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -457px -113px;
}

.red_left {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -489px -65px;
}

.pink_left {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -489px -81px;
}

.blue_left {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -489px -97px;
}

.orange_left {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -489px -113px;
}

.red_up {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -521px -65px;
}

.pink_up {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -521px -81px;
}

.blue_up {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -521px -97px;
}

.orange_up {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -521px -113px;
}

.red_down {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -553px -65px;
}

.pink_down {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -553px -81px;
}

.blue_down {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -553px -97px;
}

.orange_down {
  width: 13px;
  height: 14px;
  background: url("WholeSheet.webp") -553px -113px;
}

#game {
  width: 226px;
  height: 248px;
  z-index: -1;
  object-fit: cover;
  object-position: 0%;
  position:absolute;
}

#stylesheet {
  width: 226px;
  height: 248px;
  z-index: -1;
  object-fit: cover;
  object-position: 100%;
}

/*#emptyMap{
  width: 226px;
  height: 248px;
  object-fit: cover;
}

#coin{
  width: 3px;
  height: 3px;
  background: url("WholeSheet.webp") -10.5px -10.5px;
}
*/

.column {
  float: left;
  width: 17.5%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*.pacman{

}
*/